.right{
    float:right;
    width:48%;
    height:75%;
    margin-right: 10%;
    margin-top: 10%;
   
}
.left{
    float:left;
    width:30%;
    height:75%;
    margin-left: 10%;
    margin-top: 10%;
    background: url("fs.jpg") no-repeat center center/cover;
}
a{
    font-size: 20px;
    font-family:cursive;
    color:blue;   
}
p{
    font-size: 35px;
    font-family:cursive;
    color:red;
}